.main
    .products
        min-width: 75%
        margin-left: 42px
        &__top
            display: flex
            justify-content: space-between
            .sort
                padding: 5px 0
                &__title
                    display: inline-block
                a
                    padding: 7px 0 3px 0
                    margin-left: 15px
                    color: #5375B7
                    &:hover
                        color: #333333
                        border-bottom: 1px solid #F1BD45
            .drop
                select
                    padding: 6px
                    outline: none
                    border: 1px solid #DEDEDE
                    border-radius: 3px
                    option
                        width: 20px
                        height: 15px
        &__options
            margin-top: 20px
            a
                padding: 7px 15px
                margin-right: 10px
                color: #000
                background-color: #FFF3D8
                border-radius: 3px
                &:hover
                    background-color: #ffe9b6


